<!DOCTYPE html>
<html>
<head>
  <title>suitYourself</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <div class="logo">
      <h1 class="hepta-slab-heading">suitYourself</h1> 
    </div>
  </header>

  <div class="container">
    <h2>Style Made Simple: Your Personalized Fashion Companion!</h2> 
  </div>
  <div class="buttons">
    <button class="personalize-button" onclick="location.href='/personalize';">Personalize</button>

  </div>

  <script src="script.js"></script>
</body>
</html>
